# Angular HTML
snippet mdinput
md-input-container.md-block
	label(${1:translate='${2:TRANS.LABEL}'}) ${3:label}${4:
	md-icon(md-font-icon='icon-${5:label}')}
	input(type='${6:text}', ng-model='${7:vm.form.label}'${8: required})
endsnippet
